<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
</mat-form-field>

<div>
  <table aria-labelledby="contacts-header" mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="firstname">
      <th scope="col" mat-header-cell *matHeaderCellDef>Firstname</th>
      <td mat-cell *matCellDef="let element">{{ element.firstname }}</td>
    </ng-container>
​
    <ng-container matColumnDef="lastname">
      <th scope="col" mat-header-cell *matHeaderCellDef>Lastname</th>
      <td mat-cell *matCellDef="let element">{{ element.lastname }}</td>
    </ng-container>
​
    <ng-container matColumnDef="phonenumber">
      <th scope="col" mat-header-cell *matHeaderCellDef>Phonenumber</th>
      <td mat-cell *matCellDef="let element">{{ element.phonenumber }}</td>
    </ng-container>
    
    <ng-container matColumnDef="address">
        <th scope="col" mat-header-cell *matHeaderCellDef>Address</th>
        <td mat-cell *matCellDef="let element">{{ element.address }}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th scope="col" mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let element">{{ element.email }}</td>
      </ng-container>
      
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="success" (click)="edit(element)">
            <mat-icon class="mat-18">edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="warn" (click)="delete(element._id)">
              <mat-icon class="mat-18">delete</mat-icon>
          </button>
        </td>
      </ng-container>
      
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
​
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>